.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
}

.footer_left {
  flex: 0.3;
}

.footer_center {
  flex: 0.4;
  padding: 0px 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer_icon > * {
  transition: 200ms opacity ease-in;
}

.footer_icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.footer_right {
  flex: 0.3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.footer_right .MuiSlider-colorPrimary {
  color: white;
}